<div class="footer">
  <!-- <div class="container"> -->
  <div>
    <a href="https://www.facebook.com/Maure-Badminton-Club-316591731695603/?fref=ts" "email me"><i class="fa fa-facebook icon"></i></a>
  </div>
  <p>@CyLem35</p>
  <!-- </div> -->
</div>
