<div class="container text-center">
  <h1>Toutes les infos pratiques</h1>
</div>

<div class="container min-height">
  <p>Séries : N2 à D9</p>
  <p>Tableaux : Simple Homme/Dame, Double Hommes/Dames/Mixte</p>
  <p><i class="fa fa-exclamation-triangle fa-3x" aria-hidden="true"></i>
 ATTENTION : L’organisateur se laisse la possibilité de répartir les joueurs et les joueuses en
  tableaux où le CPPH sera le critère de répartition et non plus la série du classement. Dans ce cas,
  un tableau sera constitué de joueurs, joueuses ou paires ayant un CPPH proche.</p>
  <p>N°autorisation : 15.BRE.35/TI.F./006 </p>
  <p>Juges - Arbitres : Jean-Charles ROUILLEE et Natacha BOULAIS</p>
  <p>Tarifs : 10€ / 1 tableau - 15€ / 2 tableaux</p>
  <p>Aucune inscription par mail / téléphone. Toutes les inscriptions doivent obligatoirement passer par ce site.</p>
</div>
