<div class="container" style="text-align: center;" class="min-height">
  <div id="explications_inscriptions">
    <h1>Comment procéder pour s'inscrire ?</h1>
    <p>1) <strong>Remplissez le formulaire ci-dessous</strong></p>
    <p>2) <strong>Remplissez la <%= link_to "fiche d'inscription (clic)", asset_path("Inscription_MBC_NRD.xls") %></strong> qui récapitule la ou les inscriptions que vous venez d'effectuer </p>
    <p>3) <strong>Envoyer la fiche d'inscription et le règlement</strong> à l’ordre du Maure Badminton Club <u>avant le Mercredi 15 juin 2016</u> à :</p>
    <p>
      <span style="color: red;">MAURE BADMINTON CLUB
      Rue du Stade
      35330 MAURE DE BRETAGNE</span>
    </p>
    <p>Tarifs : 10€ pour 1 tableau - 15€ pour 2 tableaux</p>
  </div>
</div>
<%= render "form_for_inscriptions" %>

