<div class="container text-center">
  <div id="explications_inscriptions">
    <h2>Comment procéder pour s'inscrire ?</h2>
    <p>1) <strong>Remplissez le formulaire ci-dessous</strong></p>
    <p>2) <strong>Remplissez la <%= link_to "fiche d'inscription (clic)", asset_path("Inscription_MBC_NRD.xls") %></strong> qui récapitule la ou les inscriptions que vous venez d'effectuer </p>
    <p>3) <strong>Envoyer la fiche d'inscription et le règlement</strong> à l’ordre du Maure Badminton Club <u>avant le Mercredi 15 juin 2016</u> à :</p>
    <p>
      <span style="color: red;">MAURE BADMINTON CLUB
      </br>
      Rue du Stade
      </br>
      35330 MAURE DE BRETAGNE</span>
    </p>
    <p><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i> Si vous êtes en recherche de partenaire pour du double, remplissez uniquement la partie "Joueur 1". Si vous trouvez un partenaire, prévenez-nous par mail à <a href="mailto:tournoismbc@gmail.com">tournoismbc@gmail.com</a>, nous complèterons votre inscription</p>
    <p>Tarifs : 10€ pour 1 tableau - 15€ pour 2 tableaux</p>
  </div>
</div>
<%= render "form_for_inscriptions" %>

